.gulpTalk {
    &_imageBox {
        padding: $default-padding;
        @include center-both;
        max-width: 640px;
        width: 100%;
        &-title {
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-weight: 600;
            font-size: 96px;
            margin-top: $default-padding * 4;
            margin-bottom: $default-padding * 2;
        }
        &-subtitle {
            font-weight: 300;
            color: #fff;
            font-size: 48px;
            text-align: center;
            margin-bottom: $default-padding * 4;
        }
        &-image {
            width: 640px;
            height: 358px;
            display: block;
            opacity: 0;
            animation: fadeIn 5s ease-in;
            animation-fill-mode: forwards;
        }
    }
}