$magic: none
.image-box
    +center-both
    padding: $default-padding
    max-width: 640px
    width: 100%
    &--highlight
        background-color: #555
    &__title
        text-align: center
        color: #fff
        text-transform: uppercase
        letter-spacing: 5px
        display: if($magic == 'block', none, block)
        font-weight: $font-weight-semi-bold
        font-size: 96px
        margin-top: 0
        margin-bottom: 30px
        &--alternate
            color: #4cabcc
    &__subtitle
        font-weight: $font-weight-light
        color: #fff
        font-size: 40px
        text-align: center
        display: $magic
        margin-bottom: $default-padding
    &__image
        width: 640px
        height: 358px
        display: $magic
        opacity: 0
        animation: fadeIn 5s ease-in
        animation-fill-mode: forwards
        margin-bottom: $default-padding * 4